[Unit]
Description=Daikin Matter Bridge
After=network.target

[Service]
Environment="RUST_LOG=rs_matter=info,daikin_matter=info"
ExecStart=/usr/local/bin/daikin-matter
Type=simple
Restart=always
RestartSec=5
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
